/** SASS FILE FOR ADMIN CSS */
/* MIXINS */
/* TRANSITIONS */
/* ADMIN MENU ICON */
// #toplevel_page_wonka-slide-admin-display div.wp-menu-image { position: relative; }
// #toplevel_page_wonka-slide-admin-display div.wp-menu-image:before { content: ""; display: inline-block; background: url("../img/ws-slide-logo.svg"); background-repeat: no-repeat; background-position: center; }
